*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: flex;
}

.header {
    width: 100%;
    height: 100vh;
    margin: -10px;
}

#topo {
    width: 100%;
    height: 25mm;
    margin: 10px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #ff8000;
}

.logo{
    margin: 15px;
}

a{
    text-decoration: none;
}

html,
body{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.btn-menu{
    width: 90px;
    height: 30px;
    border: 1px solid #00537c00;
    border-radius: 3mm;
    font-family: Sanchez;
    font-size: 16px;
    color: #004587;
    background:none;
    top: 25%;
    position: relative;
    line-height: 25px;
}

.btn-menu:hover{
    width: 90px;
    height: 30px;
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
    font-size: 16;
}

.btn-social{
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #676767;
    position: relative;
    top: 25%;
    justify-content: space-around;
}

.btn-social:hover{
    color: #ffffff;
    background-color: #004587;
    background-size: 10mm;
}

/* RODAPÉ */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    color: white;
    background-color: #00407E;
    border-top: 5px solid #ff8000;
    flex-direction: row;
    left: 0;
}

.logo-rodapier {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    font-family: Sanchez;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.social-rodapier {
    display: flex;
    margin-right: 100px;
    margin-top: -25px;
    justify-content: flex-end;
    grid-column-gap: 5px;
}

.btn-social-rodapier {
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #ffffff;
}

.btn-social-rodapier:hover {
    color: #ffffff;
    background-color: #FF8000;
    background-size: 10mm;
}

/* ADD RECEITA */

div.breakout, table.breakout {
    background-color: #fcfefe;
    border: 1px solid #bacfe6;
    justify-content: center;
    align-items: center;
    display: flex;
}

div {
    display: block;
}

table.generic{
    color: #333;
    font-size: 13px;
    line-height: 18px;
    word-break: break-word;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

body {
    background-color: #fff;
    font-family: Helvetica,Arial;
    font-size: 13px;
    margin: 0;
    overflow-y: scroll;
}

/* ADD RECEITA */

/* RODAPÉ */

@media screen and (max-width: 800px){ /* DEIXE A SUA PÁGINA RESPONSIVA AQUI */

    /* CABEÇALHO */
    #topo {
      justify-content: flex-start;
    }
  
    .menu,
    .social {
      display: none;
    }/* CABEÇALHO */
  }
