*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    margin: -10px;
}

#topo {
    width: 100%;
    height: 25mm;
    margin: 10px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 5px solid #ff8000;
}

.logo{
    margin: 15px;
}

a{
    text-decoration: none;
}

html,
body{
    width: 100%;
    min-height: 100vh;
    background-color: #004587;
}



.btn-menu{
    width: 90px;
    height: 30px;
    border: 1px solid #00537c00;
    border-radius: 3mm;
    font-family: Sanchez;
    font-size: 16px;
    color: #004587;
    background:none;
    top: 25%;
    position: relative;
    line-height: 25px;
}

.btn-menu:hover{
    width: 90px;
    height: 30px;
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
    font-size: 16;
}

.btn-social{
    color: #ffffff;
    margin: auto;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #676767;
    position: relative;
    top: 25%;
    left: 25mm;
}

.btn-social:hover{
    color: #ffffff;
    background-color: #004587;
    background-size: 10mm;
}

.banner{
    margin: -10px;
    background-image: url(../../media/images/67-lasanha-de-carne.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.search-box{
    margin: auto;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0.705);
    border: 2px solif #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position:relative;
    top: -27%;
}

.search-box .lupa-search{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.search-box .lupa-search i{
    font-size: 35px;
    align-items: center;
}

.search-box .imput-search{
    position: absolute;
    left: 80px;
    width: 100%;
    height: 100%;
    line-height: 80px;
}

.search-box .imput-search input{
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0);
}

