*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: 100vh;
    margin: -10px;
}

#topo {
    width: 100%;
    height: 100px;
    margin: 10px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #ff8000;
}

.logo{
    margin: 15px;
}

a{
    text-decoration: none;
}

html,
body{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.btn-menu{
    width: 90px;
    height: 30px;
    border: 1px solid #00537c00;
    border-radius: 3mm;
    font-family: Sanchez;
    font-size: 16px;
    color: #004587;
    background:none;
    top: 25%;
    position: relative;
    line-height: 25px;
}

.btn-menu:hover{
    width: 90px;
    height: 30px;
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
    font-size: 16;
}

.social{
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
    grid-column-gap: 5px;
}
   
.btn-social{
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #676767;
}

.btn-social:hover{
    color: #ffffff;
    background-color: #004587;
    background-size: 10mm;
}

.banner{
    bottom: 0;
    margin: -10px;
    background-image: url(../../media/images/banner.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.texto{
    margin: 10px;
    word-wrap: break-word;
}

.search-box{
    margin: auto;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0.705);
    border: 2px solif #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position:relative;
    top: 30%;
}

.search-box .lupa-search{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.search-box .lupa-search i{
    font-size: 35px;
    align-items: center;
}

.search-box .imput-search{
    position: absolute;
    left: 80px;
    width: 100%;
    height: 100%;
    line-height: 80px;
}

.search-box .imput-search input{
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 700px;
    height: 80px;
    background: rgba(255, 255, 255, 0);
}

/* CATEGORY */
.category{
    font-family: Sanchez;
    font-size: 16px;
    color: #004587;
    background:none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column-gap: 5px;
    padding: 5mm;
    margin-top: 45px;
}

.btn-category{
    border-radius: 10mm;
    padding: 1rem;
    border: 1px solid #777;
    background: none;
}

.btn-category:hover{
    color: #ffffff;
    background-color: #004587;
    background-size: 5mm;
}

/* CARDS */
.cards{
    padding: 5mm;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    margin-top: -100px;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 2mm;
}

.card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
 
.card h2 {
    font-size: .9rem;
    color: #aaaa;
}

.card button {
    background-color: #ff8000;
    height: 40px;
    border: none;
    padding: 4px;
    width: 90%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.card button:hover {
    background-color: #00407E;
    cursor: pointer;
}

.chef img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    margin-bottom: 150px;
    border: 3px solid #fff;
}

/* RODAPÉ */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 115px;
    color: white;
    background-color: #00407E;
    border-top: 5px solid #ff8000;
    flex-direction: row;
}

.logo-rodapier{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    font-family: Sanchez;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.social-rodapier{
    display: flex;
    margin-right: 100px;
    margin-top: -25px;
    justify-content: flex-end;
    grid-column-gap: 5px;
}

.btn-social-rodapier{
    color: #ffffff;
    width: 32px;
    height: 32px;
    border: 1px solid #00537c00;
    border-radius: 1mm;
    background-color: #ffffff;
}

.btn-social-rodapier:hover{
    color: #ffffff;
    background-color: #FF8000;
    background-size: 10mm;
}

/* RODAPÉ */

@media screen and (max-width: 800px){
    /* CABEÇALHO */
    #topo{
        justify-content: flex-start;  
    }

    .menu, .social{
        display: none;
    }
    
    /* BARRA DE PESQUISA */
    .search-box{
        margin: auto;
        width: 350px;
        height: 80px;
        background: rgba(255, 255, 255, 0.705);
        border: 2px solif #fff;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position:relative;
        top: 35%;
        left: 10px;
    }

    .search-box .imput-search input{
        border: 0;
        outline: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0);
    }

    /* RODAPÉ */
    

}
